<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>修改密码</title>
</head>
<body>
    <header>
    </header>
		
    <section>
	<div id="comment" style="position:absolute;left:27%;top:25%;">
	<h1>welcome {{username}} </h1>
		<form id="contact-form" method="post">
		    <fieldset>
			原密码:
			<input name="password" value="" type="password" id="password" placeholder="请输入原密码..." />
			新密码:
			<input name="newPassword" value="" type="password" id="newPassword" placeholder="请输入密码..."/>
			新密码:
			<input name="newPasswordAgain" value="" type="password" id="newPasswordAgain" placeholder="再次输入密码..."/>
			{{ info }}
			{{ uf.errors }}		
		 	<div class="buttons">
				<button class="btn1" type="submit">确定</button>		
				<a href="/">返回</a>						
		 	</div>
			</fieldset> 	          
		</form>								
	</div>		        
    </section>
</body>
</html>	
				
