<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>修改密码</title>
</head>
<body>
    <header>
    </header>
		
    <section>
	<div id="comment" style="position:absolute;left:27%;top:25%;">
	<h1> 找回密码 </h1>
		<form id="contact-form" method="post">
		    <fieldset>
		    {% if findUser %}
		    {{ findUser }}
			新密码:
			<input name="newPassword" value="" type="password" id="newPassword" placeholder="请输入密码..."/>
			新密码:
			<input name="newPasswordAgain" value="" type="password" id="newPasswordAgain" placeholder="再次输入密码..."/>
			{{ Q1 }}:
			<input name="passwordA1" value="" type="text" id="passwordA1" placeholder="请输入问题答案..."/>
			{{ Q2 }}:
			<input name="passwordA2" value="" type="text" id="passwordA2" placeholder="请输入问题答案..."/>
			{{ Q3 }}:
			<input name="passwordA3" value="" type="text" id="passwordA3" placeholder="请输入问题答案..."/>
			{{ info }}
			{{ uf.errors }}		
		 	<div class="buttons">
				<button class="btn1" type="submit">确定</button>		
				<a href="/">返回</a>						
		 	</div>
			{% else %}
			找回的用户名:
			<input name="findUser" value="" type="text" id="findUser" placeholder="请要找回的用户名..."/>
			{{ info }}
			{{ uf.errors }}		
		 	<div class="buttons">
				<button class="btn1" type="submit">确定</button>		
				<a href="/">返回</a>						
		 	</div>
			{% endif %}
			</fieldset> 	          
		</form>								
	</div>		        
    </section>
</body>
</html>