<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>注册页</title>
</head>
<body>
    <header>
    </header>	
    <section>
	<div id="comment" style="position:absolute;left:27%;top:25%;">
	    <h3>register</h3>
		<form id="contact-form" method="post">
		    <fieldset>
				用户名:
				<input name="username" value="" type="text" id="username" placeholder="请输入用户名..." autofocus/>
				密码:
				<input name="password" value="" type="password" id="password" placeholder="请输入密码..."/>
				请再次输入密码:
				<input name="passwordAgain" value="" type="password" id="passwordAgain" placeholder="再次输入密码..."/>
				请输入密保问题1:
				<input name="passwordQ1" value="" type="text" id="passwordQ1" placeholder="请输入密保问题..."/>
				问题1答案:
				<input name="passwordA1" value="" type="text" id="passwordA1" placeholder="请输入问题答案..."/>
				请输入密保问题2:
				<input name="passwordQ2" value="" type="text" id="passwordQ2" placeholder="请输入密保问题..."/>
				问题2答案:
				<input name="passwordA2" value="" type="text" id="passwordA2" placeholder="请输入问题答案..."/>
				请输入密保问题3:
				<input name="passwordQ3" value="" type="text" id="passwordQ3" placeholder="请输入密保问题..."/>
				问题3答案:
				<input name="passwordA3" value="" type="text" id="passwordA3" placeholder="请输入问题答案..."/>
				{{ ok }}{{ error }}
				{{ uf.errors }}
			 	<div class="buttons">
					<button class="btn1" type="submit">确定</button>
					<a href="/">返回</a>
			 	</div>
			</fieldset>
		</form>
	</div>
    </section>
</body>
</html>	

