<header>
    <h1>{{ article.article_title }}</h1>
</header>
<section>
    <div>
    作者：{{ article.author }}
    内容：{{ article.article_text }}
    创建时间：{{ article.pub_date}}
    </div>
    <a href="/">返回首页</a>
    <ul>
        {% for comment in comment_all %}
        <li>评论内容：{{ comment.comment_text }}
            <br/>
            作者：{{ comment.comment_author }}
            <br/>
        </li>
        {% endfor %}
    </ul>
    <div>
        <h2>comment</h2>
        <form action="" method="post" id="CommentForm" >
            comment_text：
            <input type="text" name="comment_text" id="comment_text" autofocus>
            <br/><br/>
            {{uf.errors}}
            <br/>
            <button type="submit">评论</button>
        </form>
    </div>
</section>