<!DOCTYPE html>
<head>

	<meta charset="utf-8">
	<title>Y_BLOG</title>
  	<link rel="stylesheet" href="../../static/css/zerogrid.css">
	<link rel="stylesheet" href="../../static/css/style.css">    
	<script type="text/javascript" src="../../static/js/jquery-2.1.4.min.js" ></script>
</head>
<body>
<div class="wrap-body">
<header>
	<div class="wrap-header zerogrid">	
		<nav>
			<div class="wrap-nav" style="">
				<div class="menu">
					<ul>
					{% if user == 'visitor' %}
						<li><a href="../../login">登陆</a></li>
						<li><a href="../../register">注册</a></li>
						<li><a href="../../findPassword">找回密码</a></li>
					{% else %}
						<li><a href="../../logout">登出</a></li>
						<li><a href="../../changePassword">修改密码</a></li>
						<li><a href="../../addArticle">发帖</a></li>
					{% endif %}
					    <li><a href="/">Home</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
<section id="content">
	<div style="" class="wrap-content zerogrid">
		<div class="row block">
			<div id="main-content" class="col-2-3">
				<div class="row">
					<div class="col-full">
						<div class="wrap-col">
							<article>
								<div class="heading"><h1 class="title">{{ article.article_title }}</h2></div>							
								<div id="comment">
									<div>作者：{{ article.author }}   &nbsp; &nbsp; 创建时间：{{ article.pub_date }}</div>
									<div>内容：{{ article.article_text }}</div>
								    <div style="position:relative;left:360px;"><a href="/">返回首页</a></div>
								    <div>
										<h2>comment</h2>
										<ul id="commentMain"></ul>
									</div>
									<br/>
									<div>
										<h2>add comment</h2>
										comment_text：<input type="text" name="comment_text" id="comment_text" placeholder="请输入评论..." autofocus>
										<br/><br/>
										{{uf.errors}}
										<br/>
										<button id='comment_submit'>评论</button>
										<!-- <button id='comment_submit' type="submit">评论</button> -->
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
			<div id="sidebar" class="col-1-3">
				<div class="wrap-col">

					<div class="box">
						<div class="heading"><h4 class="title"><a href="/blogs">归档</a></h4></div>
					</div>
					<div class="box">
						<div class="heading"><h4 class="title"><a href="{% url "about_me" %}">About Me</a></h4></div>
					</div>
					<div class="box">
						<div class="heading"><h4 class="title"><a href="http://weibo.com/u/5899508312/home?leftnav=1">微博</a></h4></div>
					</div>
					<div class="box">
						<div class="heading"><h4 class="title"><a href="https://github.com/M1399/blog_q">Github</a></h4></div>
					</div>
					<div class="box">
						<div class="heading"><h4 class="title"><a href="https://github.com/M1399/blog_q">开发中</a></h4></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="wrap-footer zerogrid">
		<div class="row">
			<div class="col-1-4">
				<div class="wrap-col">
					<div class="box"><h4 class="title"><a href="#">About Me</a></h4></div>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<div class="box"><h4 class="title"><a href="/" class="current">Home</a></h4></div>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<div class="heading"><h4 class="title"><a href="http://weibo.com/u/5899508312/home?leftnav=1">微博</a></h4></div>
				</div>
			</div>
			<div class="col-1-4">
				<div class="wrap-col">
					<div class="heading"><h4 class="title"><a href="https://github.com/M1399/blog_q">Github</a></h4></div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
	</div>
</footer>
</div>
</body>
</html>	
<script>
	var article_id_num = window.location.pathname.split('/')[2];
	$('#comment_submit').click(function () {
		// 添加评论
		var comment_text = $('#comment_text').val();
		if (!comment_text) {
			alert('表单输入不完整');
			return ;
		}
		$.ajax({
			url: '/addCommentsByAjax/' + article_id_num + '/',
			method: 'post',
			data: {
				comment_text: comment_text,
			},
			success: function () {
				// 清空评论框
				$('#comment_text').val('');
				// 重新加载评论
				$.ajax({
					url: '/commentsByAjax/' + article_id_num,
					dataType: 'json',
					method: 'get',
					success: function (data) {
						var html = '';
						for (var i = 0; i < data.length; i++) {
							html += comment_template(data[i]);
						}
						$('#commentMain').html(html);
					},
					errors: function (err) {
						console.error(err);
					}
				});
			},
			errors: function (err) {
				console.error(err);
			}
		});
	});
	// 请求评论列表
	$.ajax({
		url: '/commentsByAjax/' + article_id_num,
		dataType: 'json',
		method: 'get',
		success: function (data) {
			var html = '';
			for (var i = 0; i < data.length; i++) {
				html += comment_template(data[i]);
			}
			$('#commentMain').html(html);
		},
		errors: function (err) {
			console.error(err);
		}
	});
	// 评论模板
	var comment_template = function (obj) {
		return "<li>评论内容：" + obj.content + "<br/>作者：" + obj.author + "</li>"
	};
</script>