<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Y_BLOG</title>
<meta name="keywords" content="music note, free template, website template, CSS, XHTML" />
<meta name="description" content="Music Note - free CSS template provided by templatemo.com" />
<link href="../../static/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div align=center>
<div style=“width:960px; margin:0 auto; height:90px;”>

</div>
</div>
<div id="templatemo_container_wrapper1">
<div id="templatemo_container_wrapper2">
<div id="templatemo_container">
   
    <div id="templatemo_header">
           	<div id="templatemo_site_title">Y<span>BLOG</span></div>
	</div>

    

    
	<div id="templatemo_content">
			<div class="templatemo_section">
                
			<form method = 'post' enctype="multipart/form-data" style="margin-left:37%;margin-top:10%;padding:5px 15px 36px 10px">
				{% csrf_token %}
				{{uf.as_p}}
				<input type="submit" value = "登陆" style="margin:auto;position:absolute;left:47%;" />
			</form>


		</div>
	</div>
    
	<div id="templatemo_footer">
        		<a href="{% url "home" %}">Home</a> | <a href="{% url "about_me" %}">About Me</a> |  <a href="https://github.com/M1399/blog_q">Githube</a> | <a href="http://weibo.com/u/5899508312/home?leftnav=1">Weibo</a>
	</div>

</div>
</div>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div></body>
</html>
