<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Y_BLOG</title>
<meta name="keywords" content="music note, free template, website template, CSS, XHTML" />
<meta name="description" content="Music Note - free CSS template provided by templatemo.com" />
<link href="../../static/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div align=center>
<div style=“width:960px; margin:0 auto; height:90px;”>

</div>
</div>
<div id="templatemo_container_wrapper1">
<div id="templatemo_container">
   
    <div id="templatemo_header">
           <div id="templatemo_site_title">Y<span>BLOG</span></div>
    </div>
  <div id="templatemo_menu">
	<ul>
            <li><a href="/" class="current">Home</a></li>
            <li><a href="{% url "home" %}">Blog</a></li>
            <li><a href="{% url "register" %}">register</a></li>
	    <li><a href="localhost:9999/admin">login</a></li>
        </ul>    
    </div>
    <div>                                  
	<h2 style="margin:150px 210px 18px;font-size:40px">恭喜{{username}},注册成功！</h2>

</div>
	

</div>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div></body>
</html>
